body {
  font-family: "Hand", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-icon {
  position: relative;
  height: 44px;
  width: 44px;
  border-radius: 6px;
  transition: background-color 0.2s;
  &:hover {
    background-color: rgba($white, 0.2);
  }

  &:focus {

  }

  &:active {

  }
}